<section>
    <br><br><br><br>
    <div class="container">
        <div class="row">
            <div class="col-md-12">
                <h2 class="text-center">Add About</h2>
                <form action="/admin/about/add-about" enctype="multipart/form-data" method="POST">
                    <label for="">Name</label>
                    <input type="text" name="Name" class="form-control" required>

                    <label for="">Image</label>
                    <input type="file" name="Image" class="form-control" required>

                    <button type="submit" class="btn btn-success mt-4">Submit</button>
                     <a href="/admin/about" type="submit" class="btn btn-danger mt-4">Cancel</a>
                </form>
            </div>
        </div>
    </div>
</section>