<style>
  .header-area {
    -webkit-transition-duration: 500ms;
    transition-duration: 500ms;
    background-color: #ffffff;
    width: 100%;
    height: 50px;
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    z-index: 1000;
    border-bottom: 1px solid #ffffff;
}
</style>
    <!-- Header Area-->
    <div class="header-area" id="headerArea">
        <div class="container">
            <!-- Header Content-->
            <div class="header-content position-relative d-flex align-items-center justify-content-between">
                <!-- Back Button-->
                <div class="back-button"><a href="/"><svg width="32" height="32" viewBox="0 0 16 16"
                            class="bi bi-arrow-left-short" fill="currentColor" xmlns="http://www.w3.org/2000/svg">
                            <path fill-rule="evenodd"
                                d="M12 8a.5.5 0 0 1-.5.5H5.707l2.147 2.146a.5.5 0 0 1-.708.708l-3-3a.5.5 0 0 1 0-.708l3-3a.5.5 0 1 1 .708.708L5.707 7.5H11.5a.5.5 0 0 1 .5.5z" />
                        </svg></a></div>
                <!-- Page Title-->
                <div class="page-heading">
                    <h6 class="mb-0">My Achievements</h6>
                </div>
                <!-- Settings-->
                <div class="setting-wrapper"><a class="setting-trigger-btn" id="settingTriggerBtn" href="#"><svg
                            width="18" height="18" viewBox="0 0 16 16" class="bi bi-gear" fill="url(#gradientSettings)"
                            xmlns="http://www.w3.org/2000/svg">
                            <defs>
                                <linearGradient spreadMethod="pad" id="gradientSettings" x1="0%" y1="0%" x2="100%"
                                    y2="100%">
                                    <stop offset="0" style="stop-color: #0134d4; stop-opacity:1;" />
                                    <stop offset="100%" style="stop-color: #28a745; stop-opacity:1;" />
                                </linearGradient>
                            </defs>
                            <path fill-rule="evenodd"
                                d="M8.837 1.626c-.246-.835-1.428-.835-1.674 0l-.094.319A1.873 1.873 0 0 1 4.377 3.06l-.292-.16c-.764-.415-1.6.42-1.184 1.185l.159.292a1.873 1.873 0 0 1-1.115 2.692l-.319.094c-.835.246-.835 1.428 0 1.674l.319.094a1.873 1.873 0 0 1 1.115 2.693l-.16.291c-.415.764.42 1.6 1.185 1.184l.292-.159a1.873 1.873 0 0 1 2.692 1.116l.094.318c.246.835 1.428.835 1.674 0l.094-.319a1.873 1.873 0 0 1 2.693-1.115l.291.16c.764.415 1.6-.42 1.184-1.185l-.159-.291a1.873 1.873 0 0 1 1.116-2.693l.318-.094c.835-.246.835-1.428 0-1.674l-.319-.094a1.873 1.873 0 0 1-1.115-2.692l.16-.292c.415-.764-.42-1.6-1.185-1.184l-.291.159A1.873 1.873 0 0 1 8.93 1.945l-.094-.319zm-2.633-.283c.527-1.79 3.065-1.79 3.592 0l.094.319a.873.873 0 0 0 1.255.52l.292-.16c1.64-.892 3.434.901 2.54 2.541l-.159.292a.873.873 0 0 0 .52 1.255l.319.094c1.79.527 1.79 3.065 0 3.592l-.319.094a.873.873 0 0 0-.52 1.255l.16.292c.893 1.64-.902 3.434-2.541 2.54l-.292-.159a.873.873 0 0 0-1.255.52l-.094.319c-.527 1.79-3.065 1.79-3.592 0l-.094-.319a.873.873 0 0 0-1.255-.52l-.292.16c-1.64.893-3.433-.902-2.54-2.541l.159-.292a.873.873 0 0 0-.52-1.255l-.319-.094c-1.79-.527-1.79-3.065 0-3.592l.319-.094a.873.873 0 0 0 .52-1.255l-.16-.292c-.892-1.64.902-3.433 2.541-2.54l.292.159a.873.873 0 0 0 1.255-.52l.094-.319z" />
                            <path fill-rule="evenodd"
                                d="M8 5.754a2.246 2.246 0 1 0 0 4.492 2.246 2.246 0 0 0 0-4.492zM4.754 8a3.246 3.246 0 1 1 6.492 0 3.246 3.246 0 0 1-6.492 0z" />
                        </svg><span></span></a></div>
            </div>
        </div>
    </div>
    <div class="page-content-wrapper py-3">
      <div class="container">
        <!-- Service Card-->
        <div class="card service-card bg-primary bg-gradient mb-3">
          <div class="card-body">
            <div class="d-flex align-items-center">
              <div class="service-text">
                <h5>Web Dev with JS & React JS</h5>
                <p class="mb-0">This certificate is issued by Shape AI .</p>
                <a href="https://www.cert.shapeai.tech/verify/1eypil" target="_blanck" class="btn btn-danger btn-creative mt-3">View More</a>

              </div>
              <div class="service-img"><img src="images/myac/cer1.png" alt=""></div>
            </div>
          </div>
        </div>
        <!-- Service Card-->
        <div class="card service-card bg-dark bg-gradient mb-3">
          <div class="card-body">
            <div class="d-flex align-items-center">
              <div class="service-text">
                <h5>Bootcamp of Web dev with JS & React JS</h5>
                <p class="mb-0">This certificate is issued by Shape AI .</p>
                <a href="https://www.cert.shapeai.tech/verify/31iwD" target="__blanck" class="btn btn-danger btn-creative mt-3">View More</a>

              </div>
              <div class="service-img"><img src="images/myac/cer2.png" alt=""></div>
            </div>
          </div>
        </div>
        <!-- Service Card-->
        <div class="card service-card bg-primary bg-gradient mb-3">
          <div class="card-body">
            <div class="d-flex align-items-center">
              <div class="service-text">
                <h5>React JS & Web dev JS</h5>
                <p class="mb-0">This certificate is issued by Shape AI .</p>
                <a href="https://www.cert.shapeai.tech/verify/1xYgos"  target="___blanck" class="btn btn-danger btn-creative mt-3">View More</a>

              </div>
              <div class="service-img"><img src="images/myac/cer3.png" alt=""></div>
            </div>
          </div>
        </div>
        <!-- Service Card-->
        <div class="card service-card bg-dark bg-gradient mb-3">
          <div class="card-body">
            <div class="d-flex align-items-center">
              <div class="service-text">
                <h5>Certificate of Appreciation</h5>
                <p class="mb-0">This certificate is issued by Shape AI .</p>
                <a href="https://www.cert.shapeai.tech/verify/x1xPg"  target="____blanck" class="btn btn-danger btn-creative mt-3">View More</a>

              </div>
              <div class="service-img"><img src="images/myac/cer4.png" alt=""></div>
            </div>
          </div>
        </div>
        <!-- Service Card-->
        <div class="card service-card bg-primary bg-gradient mb-3">
          <div class="card-body">
            <div class="d-flex align-items-center">
              <div class="service-text">
                <h5>Javascript and backned with node JS</h5>
                <p class="mb-0">This certificate is issued by Shape AI .</p>

                <a href="https://www.cert.shapeai.tech/verify/TdkPA"  target="_____blanck" class="btn btn-danger btn-creative mt-3">View More</a>

              </div>
              <div class="service-img"><img src="images/myac/cer5.png" alt=""></div>
            </div>
          </div>
        </div>
        <!-- Service Card-->
        <div class="card service-card bg-dark bg-gradient mb-3">
          <div class="card-body">
            <div class="d-flex align-items-center">
              <div class="service-text">
                <h5>Bootcamp of Javascript and backned with node js</h5>
                <p class="mb-0">This certificate is issued by Shape AI .</p>
                <a href="https://www.cert.shapeai.tech/verify/2r835m"  target="______blanck" class="btn btn-danger btn-creative mt-3">View More</a>

              </div>
              <div class="service-img"><img src="images/myac/cer6.png" alt=""></div>
            </div>
          </div>
        </div>
        <!-- Service Card-->
        <div class="card service-card bg-primary bg-gradient mb-3">
          <div class="card-body">
            <div class="d-flex align-items-center">
              <div class="service-text">
                <h5>Java & Backned with node js</h5>
                <p class="mb-0">This certificate is issued by Shape AI .</p>
                <a href="https://www.cert.shapeai.tech/verify/ZTVSX5" target="_______blanck" class="btn btn-danger btn-creative mt-3">View More</a>

              </div>
              <div class="service-img"><img src="images/myac/cer7.png" alt=""></div>
            </div>
          </div>
        </div>

     <!-- Service Card-->
     <div class="card service-card bg-dark bg-gradient ">
      <div class="card-body">
        <div class="d-flex align-items-center">
          <div class="service-text">
            <h5>Full Stack Development With React and Drupal</h5>
            <p class="mb-0">This certificate is issued by Firefiles - Software Development Division, Department of Computer Science, St. Thomas College(Autonomous), Thrissur, Kerala.</p>
            <a href="assets/pdf/Certificate of FSD-REACT.pdf"  target="______blanck" class="btn btn-danger btn-creative mt-3">View More</a>

          </div>
          <div class="service-img"><img src="images/myac/cer8.jpg" alt=""></div>
        </div>
      </div>
    </div>




      </div>
    </div>
   
  